body{
font-family: Arial;
background:#f4f6f9;
text-align:center;
}

h1{
color:#333;
}

table{
margin:auto;
border-collapse: collapse;
width:70%;
background:white;
}

th,td{
padding:10px;
border:1px solid #ddd;
}

th{
background:#007BFF;
color:white;
}

button{
padding:8px 15px;
background:#28a745;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#218838;
}

a{
text-decoration:none;
margin:5px;
color:#007BFF;
}